In [1]:
dict = {
    "KEY" : "value1",
    "Nepal": "Kathmandu",
    "population": 3000000
}

print(dict['KEY'])

value1

In [2]:
dict['Language']= "nepali"

In [3]:
print(dict)

{'KEY': 'value1', 'Nepal': 'Kathmandu', 'population': 3000000, 'Language': 'nepali'}

In [5]:
#creating an empty dictionary

capitals={}
print(capitals)

{}

In [6]:
#wiping an entire dictionary
dict2={
    "Ram": "Thapa",
    "Hari": "Narayan",
    "Amit": "Jha"
}
dict2={}
print(dict2)

{}

In [7]:
#Editing the value in the dict
dict['population']= 4000000
print(dict)

{'KEY': 'value1', 'Nepal': 'Kathmandu', 'population': 4000000, 'Language': 'nepali'}

In [8]:
#Looping through dict
for key in dict:
    print(key)

KEY
Nepal
population
Language

In [13]:
for x in dict:
    print(dict[x])

value1
Kathmandu
4000000
nepali

In [14]:
#Grading Systen 
student_scores={
    "Harry": 80,
    "Ram": 95,
    "Jesus": 65,
    "Prop": 45
}

In [15]:
students_g={}

In [17]:
for x in student_scores:
    if (student_scores[x] > 50):
        students_g[x]="Pass"
    else:
        students_g[x]="Fail"

In [20]:
print(students_g)

{'Harry': 'Pass', 'Ram': 'Pass', 'Jesus': 'Pass', 'Prop': 'Fail'}

In [21]:
#NESTING
#List in Dictionary
my_travel={
    "country":"India",
    "cities":['Banglore', 'chennai', 'delhi'],
    'days':10
}

In [23]:
#dictionary in dictionary
travrl_log={
    "Rishi":{
    "country":"India",
    "cities":['Banglore', 'chennai', 'delhi'],
    'days':10
    },
    "Subham":{
    "country":"china",
    "cities":['Beijing', 'Shanghai', "Hanoi","Guanzhao"],
    'days':17
    }
    }

In [26]:
for key in travrl_log:
    print(travrl_log[key])

{'country': 'India', 'cities': ['Banglore', 'chennai', 'delhi'], 'days': 10}
{'country': 'china', 'cities': ['Beijing', 'Shanghai', 'Hanoi', 'Guanzhao'], 'days': 17}

In [28]:
#Nesting Dict in List

travel_log2=[
    {
    "name":"Rishi",
    "country":"India",
    "cities":['Banglore', 'chennai', 'delhi'],
    'days':10
    },
    {
    "name":"Subham",
    "country":"china",
    "cities":['Beijing', 'Shanghai', "Hanoi","Guanzhao"],
    'days':17
    }
]

In [29]:
def add_log(name,country,cities,stay):
    add_data={}
    add_data["name"]=name
    add_data["country"]=country
    add_data["cities"]=cities
    add_data['days']=stay
    travel_log2.append(add_data)

In [30]:
add_log("Rohit","Japan",["Tokyo","Osaka","Hiroshima"],12)
print(travel_log2)

[{'name': 'Rishi', 'country': 'India', 'cities': ['Banglore', 'chennai', 'delhi'], 'days': 10}, {'name': 'Subham', 'country': 'china', 'cities': ['Beijing', 'Shanghai', 'Hanoi', 'Guanzhao'], 'days': 17}, {'name': 'Rohit', 'country': 'Japan', 'cities': ['Tokyo', 'Osaka', 'Hiroshima'], 'days': 12}]